﻿<div class="panel panel-default">
    <div class="row">
        <div class="col-md-12 vertical-align">
            <div class="col-md-4">
                <img ng-src="{{vm.certification.logoUrl}}" />
            </div>
            <div class="col-md-2">
                {{vm.certification.year}}
            </div>
            <div class="col-md-6">
                {{vm.certification.description}}
            </div>
        </div>
    </div>
</div>
    
