﻿<div class="panel panel-default">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                {{vm.experience.tenure}}
            </div>
            <div class="col-md-6">
                {{vm.experience.companyName}} ({{vm.experience.address}})
            </div>
        </div>
    </div>
    <hr />
    

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <strong>Key Responsibilities Handled</strong>
            </div>
        </div>
    </div>
    <hr />
    <div class="row" ng-repeat="resp in vm.experience.keyResponsibilities">
        <div class="col-md-12">
            <div class="col-md-10">
                - {{resp}}
            </div>
        </div>
    </div>
    <hr />
    
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <strong>Projects Handled</strong>
            </div>
        </div>
    </div>
    <hr />
    <div class="row project" ng-repeat="prj in vm.experience.projects">
        <div class="col-md-12 projectName">
            <strong>{{prj.name}}</strong>
        </div>
        <div class="col-md-12 projectDescription">
            {{prj.descrption}}
        </div>
        <div class="col-md-12 projectRole">
            <strong>Roles : </strong> {{prj.role}}
        </div>
        <div class="col-md-12 projectTools">
            <strong>Tools & Technologies : </strong> {{prj.toolsAndTechnologies.join(', ')}}
        </div>
    </div>
    
    
   
    <hr />
</div>