﻿@using InteractiveCV.UI.Controllers
@using Microsoft.Web.Mvc
@model dynamic

@{
    ViewBag.Title = "Certifications";
}

<h1 class="page-header">
    Certifications
</h1>

<ul ng-controller="certificationController as vm">
    
    <certification-details ng-repeat="cert in vm.certifications" certification="cert"></certification-details>
   
</ul>

@section Scripts{
    <script>
        var url = '@(Html.BuildUrlFromExpression<DataController>(m=>m.Certifications()))';

        window.app.constant('certificationsConfig', { dataUrl: url });
    </script>
}