﻿@using InteractiveCV.UI.Controllers
@using InteractiveCV.UI.Helpers
@using Microsoft.Web.Mvc
@model InteractiveCV.UI.Models.ContactMeViewModel

@{
    ViewBag.Title = "Contact Me";
}
@{
	var contact = Html.Angular().ModelFor("vm.contact");
}

<h1 class="page-header">
    Contact Me
</h1>
<form ng-controller="contactMeController as vm"
      ng-submit="vm.save()" name="contactUsForm">
    <div class="alert alert-success alert-dismissable" ng-show="vm.success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
        </button>
        {{vm.success}}
    </div>
    <div class="alert alert-danger alert-dismissable" ng-show="vm.error">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
        </button>
        {{vm.error}}
    </div>
    <div ng-hide="vm.success">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group" show-errors>
                    <div>Name</div>
                    <div>
                        <input type="text" ng-model="@contact.ExpressionFor(x => x.Name)" class="form-control" ng-required="true" name="name" id="name" />
                        <span class="help-block"
                              ng-if="contactUsForm.name.$error.required">Name is required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" show-errors>
                    <div>Email</div>
                    <div>
                        <input type="email" ng-model="@contact.ExpressionFor(x => x.Email)" class="form-control" name="email" id="email" ng-required="true" />
                        <span class="help-block"
                              ng-if="contactUsForm.email.$error">A valid email is required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>Comments</div>
                    <div>
                        <textarea ng-model="@contact.ExpressionFor(x => x.Comments)" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        var url = '@(Html.BuildUrlFromExpression<DataController>(m=>m.ContactMe(null)))';

        window.app.constant('contactMeConfig', { saveUrl: url });
    </script>
}