﻿@using InteractiveCV.UI.Controllers
@using Microsoft.Web.Mvc
@model dynamic

@{
    ViewBag.Title = "Education";
}

<h1 class="page-header">
    Education
</h1>

<ul ng-controller="educationController as vm">
    
    <education-details ng-repeat="edu in vm.education" education="edu"></education-details>
   
</ul>

@section Scripts{
    <script>
        var url = '@(Html.BuildUrlFromExpression<DataController>(m=>m.Education()))';

        window.app.constant('educationConfig', { dataUrl: url });
    </script>
}