﻿@using InteractiveCV.UI.Controllers
@using Microsoft.Web.Mvc
@model dynamic

@{
    ViewBag.Title = "Experience";
}

<h1 class="page-header">
    Experience
</h1>

<div ng-controller="experienceController as vm">
    <experience-details ng-repeat="experience in vm.experiences" experience="experience"></experience-details>
   
</div>

@section Scripts{
    <script>
        var url = '@(Html.BuildUrlFromExpression<DataController>(m=>m.Experiences()))';

        window.app.constant('experienceConfig', { dataUrl: url });
    </script>
}