﻿@model dynamic

@{
    ViewBag.Title = "Basic Information";
}



<div class="row vertical-align">
    <div class="col-md-12">
        <div class="col-md-12">
            @*<img src="~/Content/images/Desert.jpg" class="img-circle" />*@
        </div>
    </div>
</div>