﻿@using InteractiveCV.UI.Controllers
@using Microsoft.Web.Mvc
@model dynamic

@{
    ViewBag.Title = "Skills";
}

<h1 class="page-header">
    Skills
</h1>

<ul ng-controller="skillsController as vm">
    
    <skill-details ng-repeat="skill in vm.skills" skill="skill"></skill-details>
   
</ul>
@section Scripts{
    <script>
        var url = '@(Html.BuildUrlFromExpression<DataController>(m=>m.Skills()))';

        window.app.constant('skillsConfig', { dataUrl: url });
    </script>
}