﻿[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


html, body, #wrapper {
    height: 100%;
    padding-left: 0;
}


#page-wrapper {
    padding-top: 50px;
    min-height: 100%;
    width: 100%;
    padding: 0;
    background-color: #fff;
}

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }

    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

.top-nav {
    padding-top: 10px;
    padding-right: 40px;
padding-bottom:10px;
    color: white;
}


$project-Margin-Top : 10px;
$project-Margin-Left : 15px;


/* Side Navigation - Start */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;

        li {
            a {
                width: 225px;
            }

            a:hover,
            a:focus,
            .active {
                a {
                    outline: none;
                    background-color: #000 !important;
                }
            }
        }
    }
}

.side-nav {
    li {
        ul {
            padding: 0;

            li {
                a {
                    display: block;
                    padding: 10px 15px 10px 38px;
                    text-decoration: none;
                    color: #999;
                }

                a:hover {
                    color: #fff;
                }
            }
        }
    }
}

/* Side Navigation - End */


.project {
    margin-top: 40px;
}

.projectName {
    margin-left: $project-Margin-Top;
}

.projectDescription {
    margin-top: $project-Margin-Top;
    margin-left: $project-Margin-Left;
}

.projectRole {
    margin-top: $project-Margin-Top;
    margin-left: $project-Margin-Left;
}

.projectTools {
    margin-top: $project-Margin-Top;
    margin-left: $project-Margin-Left;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.img-circle {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../images.profile.png) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}
