[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

html, body, #wrapper {
  height: 100%;
  padding-left: 0; }

#page-wrapper {
  padding-top: 50px;
  min-height: 100%;
  width: 100%;
  padding: 0;
  background-color: #fff; }

/* Global Styles */
body {
  margin-top: 100px;
  background-color: #222; }

@media (min-width: 768px) {
  body {
    margin-top: 50px; }

  #wrapper {
    padding-left: 225px; }

  #page-wrapper {
    padding: 10px; } }
.top-nav {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  color: white; }

/* Side Navigation - Start */
@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222; }
    .side-nav li a {
      width: 225px; }
    .side-nav li a:hover a,
    .side-nav li a:focus a,
    .side-nav li .active a {
      outline: none;
      background-color: #000 !important; } }
.side-nav li ul {
  padding: 0; }
  .side-nav li ul li a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999; }
  .side-nav li ul li a:hover {
    color: #fff; }

/* Side Navigation - End */
.project {
  margin-top: 40px; }

.projectName {
  margin-left: 10px; }

.projectDescription {
  margin-top: 10px;
  margin-left: 15px; }

.projectRole {
  margin-top: 10px;
  margin-left: 15px; }

.projectTools {
  margin-top: 10px;
  margin-left: 15px; }

.vertical-align {
  display: flex;
  align-items: center; }

.img-circle {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(../images.profile.png) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }

.form-group .help-block {
  display: none; }

.form-group.has-error .help-block {
  display: block; }

/*# sourceMappingURL=Site.css.map */
