﻿<div class="panel panel-default">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                {{vm.education.year}}
            </div>
            <div class="col-md-6">
                {{vm.education.description}}
            </div>
        </div>
    </div>
</div>
    
