﻿@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" ng-app="cvApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Interactive CV</title>
    @Styles.Render("~/css/all.css")
    @RenderSection("Styles", required: false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper" ng-cloak>
        @Html.Partial("_Navigation")
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/js/all.js")
    <script src="~/js/app/cvAppModule.js"></script>
    <script src="~/js/app/cvAppConfig.js"></script>
    

    <script src="~/js/app/modules/cvMenu/cvMenuModule.js"></script>
    <script src="~/js/app/modules/cvMenu/cvMenuController.js"></script>
    <script src="~/js/app/modules/cvMenu/cvMenuDirective.js"></script>
    <script src="~/js/app/modules/cvMenu/cvMenuItemDirective.js"></script>
    <script src="~/js/app/modules/cvMenu/cvMenuItemController.js"></script>
    
    
    <script src="~/js/app/experience/experienceController.js"></script>
    <script src="~/js/app/experience/experienceService.js"></script>
    <script src="~/js/app/experience/experienceDetailsDirective.js"></script>
    <script src="~/js/app/experience/experienceDetailsController.js"></script>
    
    <script src="~/js/app/skills/skillsController.js"></script>
    <script src="~/js/app/skills/skillsService.js"></script>
    <script src="~/js/app/skills/skillDetailsDirective.js"></script>
    <script src="~/js/app/skills/skillDetailsController.js"></script>
    
    <script src="~/js/app/education/educationController.js"></script>
    <script src="~/js/app/education/educationService.js"></script>
    <script src="~/js/app/education/educationDetailsDirective.js"></script>
    <script src="~/js/app/education/educationDetailsController.js"></script>
    
    <script src="~/js/app/certifications/certificationController.js"></script>
    <script src="~/js/app/certifications/certificationService.js"></script>
    <script src="~/js/app/certifications/certificationDetailsDirective.js"></script>
    <script src="~/js/app/certifications/certificationDetailsController.js"></script>

    <script src="~/js/app/helpers/infrastructureService.js"></script>
    <script src="~/js/app/contactMe/contactMeService.js"></script>
    <script src="~/js/app/contactMe/contactMeController.js"></script>
    
    <script src="~/js/app/helpers/showErrorsDirective.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>