﻿@using InteractiveCV.UI.Controllers
@using Microsoft.Web.Mvc

<nav class="navbar navbar-inverse navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="~/">Usman M Athar</a>
    </div>
   
    <div class="nav navbar-right top-nav">
        <div class="row">
            <div>T: 0044 7846 370761</div>
            <div>E: usman_mujtaba@hotmail.com</div>
        </div>

    </div>


    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <cv-menu>
            <cv-menu-item title=" Professional Experience" url="@(Html.BuildUrlFromExpression<CvController>(m=>m.Experience()))" styles="fa fa-fw fa-briefcase"></cv-menu-item>
            <cv-menu-item title=" Skill Set" url="@(Html.BuildUrlFromExpression<CvController>(m => m.Skills()))" styles="fa fa-fw fa-star"></cv-menu-item>
            <cv-menu-item title=" Education" url="@(Html.BuildUrlFromExpression<CvController>(m => m.Education()))" styles="fa fa-fw fa-university"></cv-menu-item>
            <cv-menu-item title=" Certifications" url="@(Html.BuildUrlFromExpression<CvController>(m => m.Certifications()))" styles="fa fa-fw fa-trophy"></cv-menu-item>
            <cv-menu-item title=" Contact Me" url="@(Html.BuildUrlFromExpression<CvController>(m => m.ContactMe()))" styles="fa fa-fw fa-phone"></cv-menu-item>
        </cv-menu>
    </div>
    <!-- /.navbar-collapse -->

</nav>